.details-main-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    gap: 25px;
}

.left-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: solid rgba(207, 207, 207, 0.352) 1px;
    background-color: white;
    justify-content: center;
    padding: 20px;
}

.image-on-page {
    display: flex;
    justify-content: center;
    width: 65%;
    height: auto;
    cursor: pointer;
}

.image-on-modal {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.modal {
    --bs-modal-width: 750px;
}

.description-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: solid rgba(205, 205, 205, 0.352) 2px;
}

.video-container {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: solid rgba(205, 205, 205, 0.352) 2px;
}

.right-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.sticky-cart-wrapper {
    height: 100%;
}

.cart-container {
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: solid rgba(207, 207, 207, 0.352) 1px;
    background-color: white;
    justify-content: center;
    padding: 20px;
}

.brand-logo-image {
    width: 65%;
    border: none;
}

.price-tag {
    color: rgb(185, 0, 0);
}

.stockCheck-container {
    padding: 10px;
    background-color: rgb(241, 241, 241);
}

.inStock-tag {
    color: green;
}

.outOfStock-tag {
    color: rgb(185, 0, 0);
}

.btn-danger {
    background-color: #ce0000;
}
.btn-danger:hover {
    background-color: #ffffff !important;
    color: #ce0000;
}

.modal-image-container {
    width: 100%;
}
